@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Bold.woff2") format("woff2"),
    url("../fonts/Almarai-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-ExtraBold.woff2") format("woff2"),
    url("../fonts/Almarai-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Light.woff2") format("woff2"),
    url("../fonts/Almarai-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Regular.woff2") format("woff2"),
    url("../fonts/Almarai-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  direction: rtl;
  overflow-x: hidden;
}

.landing {
  position: relative;
}

@media (min-width: 1200px) {
  .landing .path-img {
    display: block;
    z-index: -1;
    background: url(../images/header_svg.svg);
    width: 1700px;
    height: 1700px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-15%, -61%);
  }
}

.landing-text {
  margin-top: 20px;
}

.landing-text h1 {
  color: #274559;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.6;
  margin: 14px 0;
  min-height: 120px;
  max-width: 550px;
}

.landing-text p {
  font-size: 25px;
  color: #b9b9b9;
  line-height: 1.5;
  padding-bottom: 15px;
}

.landing-text a {
  background: linear-gradient(to right, #41ddcb, #65f5e3);
  color: #fff;
  padding: 11px 47px;
  border-radius: 13px;
  font-size: 18px;
}

@media (max-width: 767px) {
  .landing {
    background: #274559;
    color: #fff;
    text-align: center;
  }
  .landing h1,
  .landing p {
    color: #fff;
  }
}

.landing-image {
  margin-top: 100px;
}

.experiance-box {
  border: 1px solid #e8e8e8;
  border-radius: 42px;
  background-color: #fafafa;
  margin: 50px 0;
}

.experiance-box img {
  width: 100%;
}

.experiance-box p {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

.our-countries {
  margin-top: 70px;
}

.our-countries h2 {
  color: #274559;
  font-weight: bold;
}

.our-countries-box {
  position: relative;
  height: 600px;
}

@media (min-width: 768px) {
  .our-countries-box {
    background-image: url(../images/map.svg);
    background-size: cover;
  }
}

.our-countries .our-countries-box > img {
  position: absolute;
  right: 50%;
  transform: translateX(55%);
  display: block;
  margin-top: 30px;
  z-index: -1;
}

.our-countries-box .country-element {
  margin-top: 45px;
  background-color: #fff;
  width: 100px;
  padding: 0;
  box-shadow: 0 4px 10px #00000021;
  border-radius: 13px;
  text-align: center;
  font-weight: bold;
}

.our-countries-box .country-element img {
  display: block;
}

.elements-row {
  max-width: 650px;
  margin: auto;
}

.elements-row-middel {
  margin: auto;
  max-width: 840px;
}

.elements-final {
  margin: auto;
  max-width: 600px;
}

.our-clients {
  border: 1px solid #cbcbcb;
  border-radius: 32px;
  padding: 60px 25px;
  background-color: #fafafa;
}

.our-clients h2 {
  position: relative;
  font-weight: 600;
  color: #274559;
}

.our-clients h2 img {
  z-index: 333;
  position: relative;
  background-color: #fff;
  padding: 0 5px;
}

.our-clients h2::after {
  content: "";
  height: 2px;
  width: 250px;
  background: #274559;
  display: block;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.client-box {
  background-color: #fff;
  border-left: 5px solid #274559;
  border-right: 5px solid #274559;
  border-radius: 9px;
  height: 175px;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-box img {
  height: 100%;
}

.client-box p {
  color: #bbbbbb;
}

.men-labor {
  max-width: 400px;
  margin: 30px auto;
  background-color: #274559;
  border-radius: 43px;
  color: #fff;
  padding: 2px 5px;
}

.men-labor .icon {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-color: #41ddcb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.men-labor span {
  margin-right: 10px;
  font-size: 22px;
  font-weight: 600;
}

footer {
  background-color: #274559;
  color: #fff;
  padding: 30px;
  text-align: center;
}

footer i {
  color: #41ddcb;
  font-size: 19px;
  text-align: center;
}

#text-animation {
  
}

#text-animation li {

}
/* 
#text-animation li:first-child {

}

#text-animation li:nth-child(2) {
  animation-delay: 6s;
  position: relative;
}

#text-animation li:nth-child(3){
    animation-delay: -6s;
}

#text-animation li:nth-child(4){
    animation-delay: 12s;
} */

/* ---------- Text Landing Animation -----------
@keyframes text-animation {
  0% {
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  33.3% {
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  35% {
    z-index: 1;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  66.6% {
    z-index: 1;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  68.3% {
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  100% {
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
} */

.our-sections-box {
  max-width: 480px;
  box-shadow: 0 8px 14px #0000000f;
  border-radius: 20px;
  margin: 25px auto;
  position: relative;
  padding:12px;
}

span.section-name {
  position: absolute;
  padding: 8px;
  background-color: #274559;
  color: #fff;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  border-radius: 5px;
}

.our-sections-box p {
  color: #274559;
  font-size: 18px;
  font-weight: bold;
}

.our-sections-box span:not(.section-name){
  font-size: 16px;
  color:#274559;
  display: block;
  margin:4px 0;
}

.our-sections-box h4 {
  color: #274559;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-sections-box h4::before,
.our-sections-box h4::after {
  content: "";
  height: 2px;
  background-color: #274559;
  width: 100px;
  margin: 0 12px;
}

.our-sections-box ul {
  margin:12px 0;
}

.our-sections-box ul li:not(:last-of-type) {
  margin-left: 17px;
}

.our-sections-box ul li {
  color: #274559;
  font-size: 16px;
  font-weight: bold;
}
.our-sections-box ul li::after {
  content: "";
  background-color: #41ddcb;
  width: 20px;
  height: 3px;
  border-radius: 3px;
  display: block;
  margin: 5px auto;
}

.our-sections-box .image {
}

.our-sections-box .image img {
  border-radius: 25px;
}

.our-sections-box a {
  background-color: #274559;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 12px;
  display: block;
  margin: 10px 0;
  transition: 0.5s;
  border: 1px solid #274559;
  margin-top: auto;
}

.our-sections-box a:hover {
  background-color: #fff;
  color: #274559;
}

.work-section p {
  font-size: 17px;
  margin:15px 0;
}

.work-section p span {
  color: #41ddcb;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
